/* 
.homeImg{    
margin-top:100px;
margin-right:600px;
margin-bottom:100px;
margin-left :300px;
 
width: 400px;
height: 500px;

}

.btn-primary {
  color: darkgreen;
  border-color: darkgreen;
  background-color: white;
}

.cameraLink{
align-items: flex-end;
float: right;
margin-top: -8px;
margin-right: -950px;
}
.contents{
  display: flex;
  margin-left: 15%;

} */


.card-img-top{
  width: 350px;
    height: 500px;
    margin-top: 10%;
    margin-left:380px;
    border-radius: 3px;
}
h6.card-title{
  margin-top: 250px;
  color: #006238;
  font-size: 40px;
}

/* a:link, a:visited {
background-color:white;
color: #006238;
padding:5px 8px;
border-radius: 8px;
text-align: center;
text-decoration: none;
margin-top: 10px;
font-size: 25px;
border: 2px solid #006238 !important;
margin-left: 40px;
} */


.card{
  border:1px solid black;
}

.card{
  max-width: 500px;
  height:max-content;
  margin: 25px auto;
  margin-left: 45%;
  margin-top: 10%;
}
img.menu_more{
  margin-top:-18px;
}


.card .card-image img {
  height:450px;
}
div.form_container{
  margin-left: 220px;
  margin-right: 600px;
width:700px;
height: 250px;
}